.container-padding {
  padding-top: 70px;
}

.character-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.character-filters-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.character-second-row h1 {
  line-height: 1;
}
.character-second-row * {
  margin-left: 5px;
  margin-right: 5px;
}

.scrollable-menu {
  height: auto;
  /* max-width: 300px; */
  max-height: 300px;
  overflow-x: hidden;
}
