.card-padding {
  left: 15%;
  width: 60%;
  height: 19rem;
  margin-bottom: 30px;
  margin: 0px;
  border-width: 0px;
  box-shadow: 5px 3px 20px #6460603d;
  border-radius: 20px 0px 20px 0px;
  background-color: rgb(34, 34, 36);
}

.character-card-extra {
  background-color: rgb(34, 34, 36);
  box-shadow: 5px 3px 20px #0000003d;
}

.character-card-extra:hover {
  background-color: rgb(34, 34, 36);
  box-shadow: 5px 10px 20px #0000005d;
}

.image-container:hover {
  background-size: 110% 110%;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.card-title {
  overflow: hidden;
  font-size: 100%;
}

.image-container {
  bottom: 0px;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#c4b7b7, #646060); */
  /* url("https://picsum.photos/200/300"); */
  background-repeat: no-repeat;

  /* background-size: 102% 102%; */
  /* background-position: center; */
  transition: all 0.2s;

  border-width: 0px;
}

.card:hover > .character-card-body {
  color: rgb(243, 243, 243);
}

.card:hover > .card-title {
  color: rgb(243, 243, 243);
}

.character-card-body {
  color: rgb(182, 182, 182);
  transition: color 0.2s;
  z-index: -2;
}

.character-card-body .card-title {
  width: 80%;
  height: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  padding-right: 10px;
}

.comics-text {
  text-align: right;
  padding-top: 5px;
  font-weight: 300;
  font-size: 15px;
}
