.content-body {
  display: flex;
  padding: 10;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.content-left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: fit-content;
}

.container-padding {
  padding-top: 70px;
}

.comics-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
